<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Youth Employment</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/youthemployment.css' %}" />
</head>
<body>
    <div id="ca-chart">
        <strong>Median Rent by Province</strong>
        <a class="reset" href="javascript:canadaChart.filterAll();dc.redrawAll();">reset</a>
    </div>
</body>

<script src="{% static 'js/crossfilter.v1.min.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/dc.js' %}"></script>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>

<script>
    var numberFormat = d3.format(".2f");

    indexData = {{ indexData|safe }};
    geoJson = {{ geoJson|safe }};

    indexData.forEach(function(d, i) {
        d.province = d.GEO.split(",")[1].trim();
        d.city = d.GEO.split(",")[0].trim();

        if (d.province == "Yukon") {
            d.province = "Yukon Territory";
        }
        if (d.province == "Newfoundland and Labrador") {
            d.province = "Newfoundland  & Labrador";
        }

        if (d.province.indexOf(" part") > -1 ) {
            var splits = d.province.split(" ");
            if (splits.length > 2) {
                var provinceName = "";
                for (var i=0; i<splits.length -1; i++) {
                    provinceName += splits[i];
                    provinceName += " ";
                }
                d.province = provinceName.trim();
            } else {
                d.province = splits[0];
            }
        }


    });


    var canadaChart = dc.geoChoroplethChart("#ca-chart");

    var crossfilterObj = crossfilter(indexData);

    var provincesDim = crossfilterObj.dimension(function(d){
        return d.province;
    });

    var medianRentByProvinceGroup = provincesDim.group().reduce(reduceAdd, reduceRemove, reduceInitial);

    function reduceAdd(p, v) {
        try {
            var parsedVal = parseInt(v.Value);
            if(!isNaN(parsedVal)) {
                ++p.count;
                p.total += parsedVal;
            }
        } catch (e) {
            console.log(e);
        }
        return p;
    }

    function reduceRemove(p, v) {
        try {
            var parsedVal = parseInt(v.Value);
            if(!isNaN(parsedVal)) {
                --p.count;
                p.total -= parsedVal;
            }
        } catch (e) {
            console.log(e);
        }
        return p;
    }

    function reduceInitial() {
        return {count: 0, total: 0};
    }

    var projection = d3.geo.conicConformal()
            .rotate([98, 0])
            .center([60, 60])
            .scale(500);

        canadaChart.width(990)
                .height(500)
                .dimension(provincesDim)
                .group(medianRentByProvinceGroup)
                .valueAccessor(function (p) {
                    if (p.value){
                        return p.value.count > 0 ? p.value.total / p.value.count : 0;
                    } else {
                        return 0;
                    }
                })
                .colors(d3.scale.quantize().range(["#E2F2FF", "#C4E4FF", "#9ED2FF", "#81C5FF", "#6BBAFF", "#51AEFF", "#36A2FF", "#1E96FF", "#0089FF", "#0061B5"]))
                .colorDomain([0, 200])
                .colorCalculator(function (d) {
                    return d ? canadaChart.colors()(d) : '#ccc';
                })
                .overlayGeoJson(geoJson.features, "state", function (d) {
                    return d.properties.NAME;
                })
                .title(function (d) {
                    return "State: " + d.key + "\nTotal Amount Raised: " + numberFormat(d.value ? d.value : 0);
                })
                .projection(projection);
        dc.renderAll();


</script>
</html>