<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Youth Employment</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/youthemployment.css' %}" />
</head>
<body>
    <div id="ca-chart" class="geo-chart">
        <div class="chart-text">
            <strong>Mean Rent by Province (Only Bachelor and One Bedroom)</strong>
            <a class="reset" href="javascript:canadaChart.filterAll();dc.redrawAll();">reset</a>
        </div>
    </div>
    <div id="province-school">
        <a class="reset" href="javascript:provinceSchoolChart.filterAll();dc.redrawAll();">reset</a>
    </div>
    <div id="school-program-tution">
        <a class="reset" href="javascript:schoolProgramTuitionChart.filterAll();dc.redrawAll();">reset</a>
    </div>
</body>

<script src="{% static 'js/crossfilter.v1.min.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/dc.js' %}"></script>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>

<script>
    var numberFormat = d3.format(".2f");

    indexData = {{ indexData|safe }};
    geoJson = {{ geoJson|safe }};
    canadaJson = {{ canadaJson|safe }}

    /**
     * Charts
     */
    var canadaChart = dc.geoChoroplethChart("#ca-chart");
    canadaChart.turnOnControls(true);

    var provinceSchoolChart = dc.rowChart("#province-school");
    provinceSchoolChart.turnOnControls(true);

    var schoolProgramTuitionChart = dc.heatMap("#school-program-tution");
    schoolProgramTuitionChart.turnOnControls(true);

    var crossfilterObj = crossfilter(indexData);

    /**
     * Dimensions & Groups
     */

    /**
     * canadaChart
     */
    var cityDim = crossfilterObj.dimension(function(d){
        return d.city;
    });
    var rentByCityGroup = cityDim.group().reduce(reduceAdd, reduceRemove, reduceInitial);

    function reduceAdd(p, v) {
        try {
            var parsedVal = parseFloat(v.avgRent);
            ++p.count;
            p.total += parsedVal;
        } catch (e) {
            console.log(e);
        }
        return p;
    }

    function reduceRemove(p, v) {
        try {
            var parsedVal = parseFloat(v.avgRent);
            --p.count;
            p.total -= parsedVal;
        } catch (e) {
            console.log(e);
        }
        return p;
    }

    function reduceInitial() {
        return {count: 0, total: 0};
    }

    /**
     * provinceSchoolChart
     */
    var provinceDim = crossfilterObj.dimension(function(d){return d.province});
    var schoolProvinceGroup = provinceDim.group().reduce(
            //sum
            function (p, d) {
                if (d.institution in p.institutions) {
                    p.institutions[d.institution] += 1;
                } else {
                    p.institutions[d.institution] = 1;
                    p.institutionCount++;
                }
                return p;
            },

            //subtract
            function(p, d) {
                p.institutions[d.institution]--;
                if(p.institutions[d.institution] === 0) {
                    delete p.institutions[d.institution]
                    p.institutionCount--;
                }
                return p;
            },

            //initialize
            function() {
                return {
                    institutionCount: 0,
                    institutions: {}
                };
            }
    );

    /**
     * schoolProgramTuitionChart
     */
    var schoolProgramDim = crossfilterObj.dimension(function(d){
        return [d.institution, d.program];
    });
    var schoolProgramTuitionGroup = schoolProgramDim.group().reduceSum(function(d){return d.programFees});


    /**
     * Chart attributes
     */
    var projection = d3.geo.conicConformal()
            .rotate([98, 0])
            .center([60, 60])
            .scale(500);

    canadaChart.width(990)
                .height(500)
                .dimension(cityDim)
                .group(rentByCityGroup)
                .valueAccessor(function (p) {
                    if (p.value){
                        return p.value.count > 0 ? p.value.total / p.value.count : 0;
                    } else {
                        return 0;
                    }
                })
                .colors(d3.scale.quantize().range(["#E2F2FF", "#C4E4FF", "#9ED2FF", "#81C5FF", "#6BBAFF", "#51AEFF", "#36A2FF", "#1E96FF", "#0089FF", "#0061B5"]))
                .colorDomain([0, 5])
                .colorCalculator(function (d) {
                    return d ? canadaChart.colors()(d) : '#ccc';
                })
                .overlayGeoJson(canadaJson.features, "state", function(d){return d.properties.NAME;})
                .overlayGeoJson(geoJson.features, "city", function (d) {
                    return d.properties.NAME_ENG;
                })
                .title(function (d) {
                    return "State: " + d.key + "\nTotal Amount Raised: " + numberFormat(d.value ? d.value : 0);
                })
                .projection(projection);

    provinceSchoolChart.width(400)
            .height(300)
            .dimension(provinceDim)
            .group(schoolProvinceGroup)
            .valueAccessor(function(d){return d.value.institutionCount;})
            .renderLabel(true)
            .elasticX(true)
            .xAxis().ticks(20);

    var heatColorMapping = function(d) {
        return d3.scale.linear().domain([2000,20000]).range(["#e5e5e5", "red"])(d);

    };
    heatColorMapping.domain = function() {
        return [0,20000];
    };

    schoolProgramTuitionChart
            .width(1000)
            .height(500)
            //.margins({left: 50})
            .dimension(schoolProgramDim)
            .group(schoolProgramTuitionGroup)
            .keyAccessor(function(d) { return d.key[0]; })
            .valueAccessor(function(d) { return d.key[1]; })
            .colorAccessor(function(d) { return d.value; })
            .title(function(d) {
                return " School: " + d.key[0] + "\n" +
                        " Program: " + d.key[1] + "\n" +
                        " TuitionFee: CAD" + d.value;})
            .colors(heatColorMapping)
            .calculateColorDomain();

    schoolProgramTuitionChart.xBorderRadius(1);
    schoolProgramTuitionChart.yBorderRadius(1);

    dc.renderAll();


</script>
</html>